/*
All css is designed for mobile first.
Media queries are for styling on larger screens.
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Montserrat";
}

:root {
	--color-dark: #000137;
	--color-medium-dark: #02055a;
	--color-medium-light: #021988;
	--color-light: #253da1;
	--color-extra-light: hsla(228, 63%, 70%, 1);

	--quarter-rem: .25rem;
	--half-rem: .5rem;
	--three-quarter-rem: .75rem;
	--full-rem: 1rem;
	--full-quarter-rem: 1.25rem;
	--full-half-rem: 1.5rem;
	--navbar-corner-radius: 1.5rem;
	--navbar-border-size: 2px;
}

body {
	background-color: var(--color-page-background);
	font-size: calc(var(--full-rem) * .75);
	color: var(--color-dark);
}

main {
	padding: var(--quarter-rem);
	margin: 0 calc(var(--full-rem) * 2);
	text-align: center;
	font-weight: 600;
	font-size: var(--full-rem);
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #000000;
}

.button {
	border-radius: var(--quarter-rem);
	border: none;
	background-color: var(--color-extra-light);
	color: var(--color-medium-dark);
	padding-block: var(--quarter-rem);
	padding-inline: var(--half-rem);
	cursor: pointer;
}
.button:hover {
	color: white;
}

.btn-clear {
	background-color: #ffffff;
	margin-inline-start: var(--full-rem);
}
.btn-clear:hover {
	color: #ffffff;
	background-color: var(--color-medium-dark);
	outline: 1px solid #ffffff
}

.grid-container {
	display: grid;
	gap: var(--half-rem);
	padding: var(--quarter-rem);
	border-radius: calc(var( --navbar-corner-radius) / 4);
	background-color: #7a7a7a;
}

.card {
	border: 1px solid var(--color-light);
	border-radius: var(--half-rem);
	background-color: var(--color-page-background);
	padding-inline: var(--full-rem);
	padding-block: var(--half-rem);
	margin-block-end: var(--half-rem);
}

.search-results {
	margin-block-start: var(--half-rem);
}

.invisible {
	visibility: hidden;
}

.help-window {
	position: absolute;
	z-index: 1000;
	display: none;
	border-radius: var(--half-rem);
	background-color: var(--color-page-background);
	border: var(--color-border) 1px solid;
	padding: var(--half-rem);
}

/****************
Tablet/Desktop Menu
****************/
@media all and (min-width: 992px) {
	.welcome-container {
		width: 50vw;
	}

	.help-window-show {
		display: block;
	}
}