.search-results {
	width: 100%;
}

.card {
	border: 1px solid var(--color-light);
	border-radius: var(--half-rem);
	background-color: var(--color-page-background);
	padding-inline: var(--full-rem);
	padding-block: var(--half-rem);
	margin-block-end: var(--half-rem);
}
.card-grid {
	display: grid;
	grid-template-columns: 2fr 2fr 1fr 1fr;
}
.card-titles {
	font-size: var(--three-quarter-rem);
	font-weight: 300;
	text-decoration: underline;
	text-underline-offset: 2px;
	margin-bottom: var(--quarter-rem);
}
.card-data {
	font-size: var(--three-quarter-rem);
	font-weight: 400;
}


/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	/*width: calc((var(--full-rem) * 2.5) + 2px);*/
	width: calc(var(--full-rem) * 2.5);
	height: var(--full-rem);
}

/* Hide default HTML checkbox */
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--color-medium-dark);
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "";
	height: var(--full-rem);
	width: var(--full-rem);
	left: 0px;
	bottom: 0px;
	background-color: white;
	opacity: .875;
	-webkit-transition: .4s;
	transition: .4s;
}
input:checked + .slider {
	background-color: var(--color-extra-light);
}
/*input:focus + .slider {
	box-shadow: 0 0 3px var(--color-dark);;
}*/
input:checked + .slider:before {
	/*-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
	transform: translateX(calc((var(--full-rem) * 2.5) - 2px));*/
	transform: translateX(calc( var(--full-rem) * 1.5 ));
}

/* Rounded sliders */
.slider.round {
	border-radius: var(--full-rem);
	outline: 2px solid var(--color-dark);
}
.slider.round:before {
	border-radius: var(--full-rem);
}

.user-deactivated {
	font-weight: 600;
	color: red;
}